node-red/flows.json
[{"id":"edac2989.1c67e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98da1e07.8f9b6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c5f74a7d.6d4f88","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8b93d4b.2fd5e","type":"ui_group","z":"","name":"වාට්ටු සංවේදක ඒකකය","tab":"a3bbc13e.47956","order":1,"disp":true,"width":9,"collapse":false},{"id":"a3bbc13e.47956","type":"ui_tab","z":"","name":"කොවිඩ්-19 රෝහල් වාට්ටු සන්නිවේදන පුවරුව","icon":"dashboard","disabled":false,"hidden":false},{"id":"cdca312d.c3f7b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":50,"sy":50,"gx":8,"gy":8,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"a84bcf7f.f8331","type":"tls-config","z":"","name":"","cert":"/Users/chathraserasinghe/Documents/iotproject/smslambdapackage/fe36c1fbb0-certificate.pem.crt","key":"/Users/chathraserasinghe/Documents/iotproject/smslambdapackage/fe36c1fbb0-private.pem.key","ca":"/Users/chathraserasinghe/Documents/iotproject/smslambdapackage/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"4f1074bc.12171c","type":"mqtt-broker","z":"","name":"suspectAlert","broker":"agvi1nwfqezoa-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"a84bcf7f.f8331","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"761629f.9257fd8","type":"ui_group","z":"","name":"රෝගියාගේ සංවේදක ඒකකය","tab":"a3bbc13e.47956","order":2,"disp":true,"width":13,"collapse":false},{"id":"da698ce.6ff067","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":1,"width":1,"height":1},{"id":"6ab3380.c2f23c8","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":3,"width":1,"height":1},{"id":"2e70014.d2753fe","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":5,"width":1,"height":1},{"id":"bb1aa37e.f209c","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":6,"width":1,"height":1},{"id":"f1907890.e97dd8","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":7,"width":1,"height":1},{"id":"e95b4147.ba246","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":8,"width":1,"height":1},{"id":"a0cd8770.6c9868","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":9,"width":1,"height":1},{"id":"5d59aa2a.413844","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":10,"width":1,"height":1},{"id":"215fe00.0146f2","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":11,"width":1,"height":1},{"id":"ff71bd40.7c18a","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":12,"width":1,"height":1},{"id":"c2926e80.2a0e2","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":13,"width":1,"height":1},{"id":"415a6afa.31f394","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":14,"width":1,"height":1},{"id":"6d2ba3de.5aa1ac","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":15,"width":1,"height":1},{"id":"a45d6b10.b50ab8","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":16,"width":1,"height":1},{"id":"f0548472.53fbc8","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":17,"width":1,"height":1},{"id":"fe67df54.ddcc3","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":18,"width":13,"height":1},{"id":"ff0d95e2.7e8628","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":19,"width":13,"height":1},{"id":"3fe7a47d.dbf4dc","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":20,"width":1,"height":1},{"id":"12cdfba5.3c8684","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":22,"width":1,"height":1},{"id":"2b37600d.0f1b2","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":24,"width":1,"height":1},{"id":"eb2a3fa5.b647b","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":25,"width":1,"height":1},{"id":"923dcea4.afa4a","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":26,"width":1,"height":1},{"id":"3e2d1d79.d14882","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":27,"width":1,"height":1},{"id":"74ed4b1c.1c5a64","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":28,"width":1,"height":1},{"id":"3798494.70758b6","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":29,"width":1,"height":1},{"id":"7f9a8010.9d4e2","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":30,"width":1,"height":1},{"id":"46a81275.4fa91c","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":31,"width":1,"height":1},{"id":"815d2b71.5dee08","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":32,"width":1,"height":1},{"id":"4b5bc51a.11e3bc","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":33,"width":1,"height":1},{"id":"8179785.1a22588","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":34,"width":1,"height":1},{"id":"122e8ca3.b3d0a3","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":35,"width":1,"height":1},{"id":"a0536b75.34a728","type":"ui_spacer","name":"spacer","group":"761629f.9257fd8","order":36,"width":1,"height":1},{"id":"bc300fa4.c7616","type":"mqtt in","z":"98da1e07.8f9b6","name":"TempratureMQTT","topic":"/sensors/dht11/temperature","qos":"2","datatype":"auto","broker":"c5f74a7d.6d4f88","x":540,"y":200,"wires":[["5c394007.2bf8c"]]},{"id":"e34d7925.8bb178","type":"mqtt in","z":"98da1e07.8f9b6","name":"HumidityMQTT","topic":"/sensors/dht11/humidity","qos":"2","datatype":"auto","broker":"c5f74a7d.6d4f88","x":540,"y":300,"wires":[["1cbecb48.789cc5","aecc47dc.e90d68"]]},{"id":"5c394007.2bf8c","type":"ui_gauge","z":"98da1e07.8f9b6","name":"","group":"f8b93d4b.2fd5e","order":1,"width":0,"height":0,"gtype":"gage","title":"උෂ්ණත්වය","label":"සෙල්සියස්","format":"{{value}}°C","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":200,"wires":[]},{"id":"1cbecb48.789cc5","type":"ui_gauge","z":"98da1e07.8f9b6","name":"","group":"f8b93d4b.2fd5e","order":2,"width":0,"height":0,"gtype":"gage","title":"ආර්ද්‍රතාවය","label":"ප්‍රතිශතය","format":"{{value}}%","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":300,"wires":[]},{"id":"aecc47dc.e90d68","type":"debug","z":"98da1e07.8f9b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":420,"wires":[]},{"id":"ec345afc.5bc658","type":"mqtt in","z":"98da1e07.8f9b6","name":"BodyTempretureMQTT","topic":"/sensors/ds18b20/temp","qos":"2","datatype":"auto","broker":"c5f74a7d.6d4f88","x":240,"y":600,"wires":[["43deb9a9.b82a68"]]},{"id":"143c0e0a.e66d82","type":"mqtt out","z":"98da1e07.8f9b6","name":"AWSIOTmqttbodyTempreture","topic":"bodytempreture","qos":"0","retain":"","broker":"4f1074bc.12171c","x":910,"y":560,"wires":[]},{"id":"71d2bccd.423324","type":"inject","z":"98da1e07.8f9b6","name":"payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"state\": {         \"reported\": {             \"bodytemptreture\": \"\",             \"patientno\": \"20\",             \"patientname\" : \"cat\",             \"bedno\" : \"501\"         }      } }","payloadType":"json","x":290,"y":420,"wires":[["baefd492.2e07e8","143c0e0a.e66d82"]]},{"id":"43deb9a9.b82a68","type":"function","z":"98da1e07.8f9b6","name":"","func":"delete msg.topic\ndelete msg.qos\ndelete msg.retain\ndelete msg._topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":700,"wires":[["8ba76cd9.d62a3"]]},{"id":"8ba76cd9.d62a3","type":"json","z":"98da1e07.8f9b6","name":"","property":"payload","action":"","pretty":false,"x":650,"y":700,"wires":[["5ef282fd.75a55c","143c0e0a.e66d82","177a7a69.9a73b6"]]},{"id":"5ef282fd.75a55c","type":"debug","z":"98da1e07.8f9b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":760,"wires":[]},{"id":"baefd492.2e07e8","type":"debug","z":"98da1e07.8f9b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":540,"wires":[]},{"id":"c9cf3c94.ad94b","type":"ui_gauge","z":"98da1e07.8f9b6","name":"","group":"761629f.9257fd8","order":21,"width":5,"height":5,"gtype":"gage","title":"ශරීර උෂ්ණත්වය","label":"සෙල්සියස්","format":"{{value}}°C","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":640,"wires":[]},{"id":"177a7a69.9a73b6","type":"function","z":"98da1e07.8f9b6","name":"","func":"msg.payload=msg.payload.state.reported.bodytemptreture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":660,"wires":[["c9cf3c94.ad94b","2c294147.b6336e"]]},{"id":"2c294147.b6336e","type":"ui_chart","z":"98da1e07.8f9b6","name":"","group":"761629f.9257fd8","order":2,"width":5,"height":5,"label":"ශරීර උෂ්ණත්ව ප්‍රස්තාරය","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":740,"wires":[[]]},{"id":"e2c10b58.380438","type":"mqtt in","z":"98da1e07.8f9b6","name":"","topic":"suspectAlert","qos":"1","datatype":"auto","broker":"4f1074bc.12171c","x":210,"y":840,"wires":[[]]},{"id":"8a55885.d5cdd78","type":"mqtt in","z":"98da1e07.8f9b6","name":"SoundMQTT","topic":"/sensors/ardiuno","qos":"2","datatype":"auto","broker":"c5f74a7d.6d4f88","x":290,"y":780,"wires":[["648bd326.7c4e1c"]]},{"id":"5d24b3e3.ad626c","type":"ui_chart","z":"98da1e07.8f9b6","name":"","group":"761629f.9257fd8","order":4,"width":5,"height":5,"label":"ශබ්ද සංවේදකය","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":880,"wires":[[]]},{"id":"47e2cce4.6c90c4","type":"ui_gauge","z":"98da1e07.8f9b6","name":"","group":"761629f.9257fd8","order":23,"width":5,"height":5,"gtype":"compass","title":"හෘද ස්පන්දන වේගය","label":"ස්පන්දන/විනාඩියට","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":960,"wires":[]},{"id":"648bd326.7c4e1c","type":"switch","z":"98da1e07.8f9b6","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Sound","vt":"str"},{"t":"cont","v":"BPM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1060,"wires":[["bf1dd19a.af64e","5d9e1bcc.240144"],["3d695628.d0ed2a","906a7bdc.7142c8"]]},{"id":"3d695628.d0ed2a","type":"debug","z":"98da1e07.8f9b6","name":"BPM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1160,"wires":[]},{"id":"bf1dd19a.af64e","type":"function","z":"98da1e07.8f9b6","name":"extract sound","func":"delete msg.qos\n//delete msg.topic\n//delete msg.retain\nmsg.payload = msg.payload.split(\":\");\nmsg.payload=msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":960,"wires":[["59a2a87a.1c6e58","5d24b3e3.ad626c"]]},{"id":"59a2a87a.1c6e58","type":"debug","z":"98da1e07.8f9b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1060,"wires":[]},{"id":"5d9e1bcc.240144","type":"debug","z":"98da1e07.8f9b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":900,"wires":[]},{"id":"906a7bdc.7142c8","type":"function","z":"98da1e07.8f9b6","name":"extract BPM","func":"delete msg.qos\n//delete msg.topic\n//delete msg.retain\nmsg.payload = msg.payload.split(\":\");\nmsg.payload=msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1100,"wires":[["47e2cce4.6c90c4"]]}]